/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
*~
.DS_Store
.formatter.exs
.gitignore
.babelrc
package-lock.json
*.mov
apps/rappel_web/assets/*
apps/rappel_web/priv/static/*