.main_output, .debug {
	border-style:  solid;
	border-width:  1px;
	border-color:  lightgray;
	border-radius: 0.4rem;
	overflow-y:    scroll;
	padding:       0.6rem, 1.0rem;
}

.main_output {
	height: 400px;
}

.debug {
	height: 200px;
}

.small {
	  font-size: 70%;
}

.hidden {
	display: none;
}

.main {
	font-family: mono;
	font-size:   90%;
	padding-left: 1.0rem;

}

.expression, .error {
	color: midnightblue;
}

.external_binding {
	color: teal;
}

.results {
	color: maroon;
}

.results div {
	margin-bottom: 1.0rem;
	background:    #f4f5f6;
}

.errors {
	color: MediumVioletRed
	;
}

.menu-item  {
	border-radius: 0.4rem 0.4rem 0.0rem 0.0rem;
	float: left;
	width: 33.2%;
	text-align: center;
	margin: 0.05rem;
}

.clear {
	clear: both;
}

pre {
	margin-bottom:  1.0rem;
	margin-top:     0.0rem;
	border-left:    none;
	padding-top:    0;
	padding-bottom: 0;
}