.main_output{
	border-style:  solid;
	border-width:  1px;
	border-color:  lightgray;
	border-radius: 0.4rem;
	overflow-y:    scroll;
	padding:       0.6rem, 1.0rem;
}

.main_output {
	height: 380px;
}

.small {
	  font-size: 70%;
}

.hidden {
	display: none;
}

.main {
	font-family: mono;
	font-size:   90%;
}

.expression, .error {
	color: midnightblue;
	padding-left: 6.0rem;
}

.external_binding {
	color: teal;
}

.results {
	color: maroon;
	padding-left: 1.0rem;
}

.results div {
	margin-bottom: 1.0rem;
	background:    #f4f5f6;
}

.errors {
	color: MediumVioletRed;
	padding-left: 1.0rem;
}

.menu-item  {
	border-radius: 0.4rem 0.4rem 0.0rem 0.0rem;
	float:         left;
	width:         49.8%;
	text-align:    center;
	margin:        0.05rem;
	background:    #eee;
	color:         gray;
	border-color:  #eee;
}

.clear {
	clear: both;
}

pre {
	margin-bottom:    1.0rem;
	margin-top:       0.0rem;
	border-left:      none;
	padding-top:      0;
	padding-bottom:   0;
	background-color: white;
}